doctype html
html(lang="en")
  head
    title Time Converter
    link(rel="stylesheet", href="style.scss")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
  body
    h1 Time Converter
    input#input(type="text" name="input" placeholder="Enter duration here")
    p#output
  script(src="./index.ts")